#header {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid $border-color;

  h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 3em;
    font-weight: normal;
    font-family: 'Gill Sans', 'Futura', 'Helvetica Nueue', Helvetica, sans-serif;
    
    a {
        color:#90A2A7;
        text-shadow: 0 1px 1px #E2E7E8;
        letter-spacing: 0.1em;
        &:hover {
            text-decoration:none;
            color:#90A2A7;
        }
    }
  }

  .top-navigation {
    margin: 0;
    float: right;
    @include delimited-list("|");
    .sitemap {
      @include header-icon("sitemap.png");
    }
    .feeds {
      @include header-icon("rss.png");
    }
  }
}
